In [206]:
import pandas as pd
import numpy as np

In [207]:
df = pd.read_csv('adult.data', header=None)
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
              'marital-status', 'occupation', 'relationship', 'race', 'sex',
              'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [208]:
df.replace({' ?': None}, inplace = True)

1. Количество столбцов

In [209]:
columns = df.shape[1]

2. Есть ли пропуски? В каких столбцах

In [210]:
missing = df.isnull().sum()

3. Кол-во уникальных значений в столбце race

In [211]:
unique_races = df['race'].nunique()

4. Медиана hours-per-week

In [212]:
median_hours = df['hours-per-week'].median()

5. Кого больше - женщин или мужчин с ЗП >50K? (Подсчет женщин и мужчин с зп больше 50К)

In [213]:
high_income = df[df['income'] == ' >50K']
count_men = high_income[high_income['sex'] == ' Male'].shape[0]
count_women = high_income[high_income['sex'] == ' Female'].shape[0]

6. Заполнение пропущенных данных наиболее встречаемыми значениями

In [214]:
for column in df.columns:
    if df[column].isnull().sum() > 0:
        mode_value = df[column].mode()[0]
        df[column] = df[column].fillna(mode_value) 
print(df.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [215]:
print("\t1) столбцов:", columns)
print("\t2) пропуски в данных:\n", missing)
print("\t3) уникальных значений в столбце 'race':", unique_races)
print("\t4) медиана 'hours-per-week':", median_hours)
print("\t5) c доходом больше 50К больше ", end="")
print("мужчин: ", count_men) if count_men > count_women else print("женщин: ", count_women)
print("\t6) для заполнения недостающих данных можно применять такие методы, как мода, медиана, ")
print("интерполяция, среднее арифметическое, или использовать данные из заранее определенной выборки.")

	1) столбцов: 15
	2) пропуски в данных:
 age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64
	3) уникальных значений в столбце 'race': 5
	4) медиана 'hours-per-week': 40.0
	5) c доходом больше 50К больше мужчин:  6662
	6) для заполнения недостающих данных можно применять такие методы, как мода, медиана,
интерполяция, среднее арифметическое, или использовать данные из заранее определенной выборки.